@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Grammar table formatting */
table{
	border-collapse: collapse;
	margin: 1em auto;
}

table td,
table th{
	padding: .5em;
}

thead tr:first-child th:first-child,
table td:nth-child(3){
	border-right: 1px solid;
	padding-right: 1em;
}

table td + th{
	padding-left: 1em;
}

table th[scope="row"]{
	text-align: right;
}
/* End grammar table formatting */
